{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
{% block navbar %} {# None #} {% endblock %}
    <p>Vous avez pas accès à cette page.</p>
    <button>Retourner à la page d'acceuil</button>
{% endblock %}