.produit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 86px;
  padding: 16px;
  text-align: center;
  
  justify-content: center; /* Centre les éléments de la grille horizontalement */
  align-content: center;   /* Centre la grille dans son conteneur */
}
