.produit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 86px;
  /* Espace entre les éléments */
  padding: 16px;
  /* Espace intérieur autour de la grille */
}