.comCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content-commentaire {
  background-color: var(--primary-100);
}

.content-commentaire h2 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 550;
}

.content-commentaire .commentaire-up {
  padding: 2.5rem 1rem 0rem;
}

.comCarousel-content {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 2.5rem 3rem 2rem 3rem;
}

.first-item {
  margin-left: 32%;
  color: blueviolet;
}

.comCarousel-item {
  flex: 0 0 auto;
  width: 40%;
  transition: transform 0.5s ease;
  padding: 0 1px;
  margin-right: 10%;
}

.comCarousel-button {
  background: rgba(0, 0, 0, 0.0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: xx-large;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.comCarousel-button.prev {
  left: 10px;
}

.comCarousel-button.next {
  right: 10px;
}

.test {
  background: var(--backg-300);
  border-radius: 15px;
  padding: 27px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  flex: 1 1 300px;
  min-width: 320px;
  width: 90%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test h3 {
  font-family: "Noto Sans", sans-serif;
}

.test h4 {
  font-family: "Noto Sans", sans-serif;
}

.test p {
  font-family: "Karla", sans-serif;
}

.boutton-avis {
  background-color: var(--primary-200);
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  /* Assure que le bouton occupe toute la largeur disponible */
  margin: 1rem auto;
  /* Centre le bouton horizontalement */
  text-align: center;
  /* Centre le texte à l'intérieur du bouton */
}

.button-avis-div {
  padding-bottom: 5px;
}

.boutton-avis:hover {
  background-color: var(--primary-300);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Couleur de fond semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* S'assurer que le pop-up est au-dessus de tout */
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.popup-content h3 {
  margin-bottom: 1rem;
}

.popup-content form {
  display: flex;
  flex-direction: column;
}

.popup-content input,
.popup-content textarea {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-family: 'Noto Sans';
}

.popup-content textarea {
  height: 100px;
  font-family: 'Noto Sans';
  resize: none;
}

.popup-content button[type="submit"] {
  background-color: var(--primary-200);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: 'Noto Sans';
}

.popup-content button[type="submit"]:hover {
  background-color: var(--primary-300);
}

.popup-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup-content h3 {
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 800px) {
  .comCarousel-item {
    display: none;
    margin-right: 0px;
    transform: none !important;
  }

  .current-item {
    display: block;
    transform: none !important;
    margin-left: calc(50% - 160px);

  }
}